@charset "UTF-8";
@font-face {
    font-family: 'Impact';
    src: 'fonts/Impact.ttf';
    font-family: 'HelveticaNeue';
    src: 'fonts/HelveticaNeue.ttf';
    font-family: 'MyriadPro-Bold';
    src: 'fonts/MyriadPro-Bold.ttf';
    font-family: 'MyriadPro-Regular';
    src: 'fonts/MyriadPro-Regular.ttf';
    font-family: 'NixieOne';
    src: 'fonts/NixieOne.ttf';
}


}
.banner {
    background: url(../img/bg-0.jpg) repeat-x;
    background-size: 100%;
    width: 100%;
    height: 1400px;
}
.marge {
    margin-top: 50px;
}
.banner_join {
    margin-top: 100px !important;
    background: url(../img/bg1.jpg) repeat-x !important;
    background-size: 100% !important;
    margin-top: 50px !important;
    width: 100% !important;
    height: 255px !important;
}
.banner_partenaire {
    margin-top: 100px !important;
    background: url(../img/bg3.jpg) repeat-x !important;
    background-size: 100% !important;
    margin-top: 50px !important;
    width: 100% !important;
    height: 255px !important;
}
.topbanner {
    text-align: center;
}
.top {
    margin-top: 100px;
}
.color_green {
    color: #036733;
}