@charset "UTF-8";
@font-face {
    font-family: 'Impact';
    src: 'fonts/Impact.ttf';
    font-family: 'HelveticaNeue';
    src: 'fonts/HelveticaNeue.ttf';
    font-family: 'MyriadPro-Bold';
    src: 'fonts/MyriadPro-Bold.ttf';
    font-family: 'MyriadPro-Regular';
    src: 'fonts/MyriadPro-Regular.ttf';
    font-family: 'NixieOne';
    src: 'fonts/NixieOne.ttf';
}

body {
    font-size: 1.5rem !important;
}

.banner {
    background: url(../img/bg-0.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.marge {
    margin-top: 50px;
}

.banner_join {
    background: url(../img/bg1.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    text-align: center !important;
    width: 100% !important;
}

.banner_partenaire {
    margin-top: 100px !important;
    background: url(../img/bg3.jpg) repeat-x !important;
    background-size: 100% !important;
    margin-top: 50px !important;
    width: 100% !important;
    height: 255px !important;
}

.banner_contact {
    background: url(../img/bg4.jpg) !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    text-align: center !important;
    width: 100% !important;
}

.topbanner {
    text-align: center;
}

.top {
    margin-top: 100px;
}

.color_green {
    color: #036733;
}

.map-container-6 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container-6 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
@media only screen and (min-width: 1024px) {
    .upfirst{
        margin-top: -30px;
    }
}

@media only screen and (max-width: 1024px) and (min-width: 565px) {
    .upfirst{
        margin-top: 25px;
    }
}

@media only screen and (max-width: 565px) and (min-width: 360px) {
    .upfirst{
        margin-top: 35px;
    }
}

@media only screen and (max-width: 360px) {
    .upfirst{
        margin-top: 40px;
    }

/* Style all font awesome icons */

.fa {
    padding: 50px;
    font-size: 50px;
    height: 100px;
    width: 100px;
    text-align: center;
    text-decoration: none;
}


/* Add a hover effect if you want */

.fa:hover {
    opacity: 0.7;
}